.comapny-profile,
.company-location {
  .c-tablelist__item {
    @media (--md) {
      padding: 10px 0;

      &:first-child {
        padding-top: 10px;
      }
    }
  }
}

.company-location {
  .company-infolist {
    padding: 16px 0;
    border-top: 1px solid #dbdbdb;

    @media (--md) {
      padding: 24px 0;
    }

    .m-block-title {
      margin-bottom: 6px;

      @media (--md) {
        margin-bottom: 14px;
      }
    }

    .u-m {
      line-height: 1.6;

      @media (--sm_max) {
        font-size: 12px;
      }

      a {
        position: relative;
        padding-left: 20px;
        color: $color-main;
        font-family: $font-en;
        text-decoration: underline;

        @media (--md) {
          margin-left: 12px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          height: 11px;
          width: 15px;
          background: url('../img/common/blank_blue.svg') no-repeat center/cover;
        }
      }

      &.phone {
        a {
          display: inline-block;
          text-decoration: none;
        }
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.company-infolist__heading {
  margin: 20px 0 5px;
  font-weight: bold;
  font-size: 14px;

  @media (--md) {
    font-size: 15px;
  }
}

.company-infolist__image {
  max-width: 360px;
  font-size: 0;

  @media (--md) {
    margin-right: 30px;
  }
}

.company-infolist__inner {
  margin-bottom: 30px;

  @media (--md) {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.company-infolist__detail {
  @media (--md) {
    width: 50%;
  }

  .company-infolist__heading {
    @media (--md) {
      margin: 0 !important;
    }
  }
}

.company-function-list__item {
  margin-left: 1em;
  text-indent: -1em;
  font-size: 13px;
  line-height: (24/13);
}
