.contact-heading {
  margin-bottom: 12px;
  color: $color-main;
  font-size: 17px;

  @media (--md) {
    font-size: 20px;
  }

  @media (--lg) {
    margin-bottom: 40px;
    font-size: 25px;
  }
}

.contact-heading__complete {
  margin-bottom: 15px;
  color: $color-main;
  font-size: 16px;

  @media (--lg) {
    font-size: 20px;
  }
}

.contact-complete {
  .m-link {
    margin-top: 20px;

    @media (--sm) {
      max-width: 320px;
      margin: 40px auto 0;
    }
  }
}

.contact-cta {
  margin-top: 15px;
  padding: 20px 0;
  border: 1px solid $color-main;
  text-align: center;
}

.contact-cta__number {
  a {
    color: $color-main;
    font-family: $font-en;
    font-weight: bold;
    font-size: 28px;

    @media (--lg) {
      pointer-events: none;
      font-size: 35px;
    }

    small {
      font-size: 16px;

      @media (--lg) {
        font-size: 25px;
      }
    }
  }
}

.contact-cta__time {
  font-size: 12px;
  color: #505050;

  @media (--lg) {
    font-size: 13px;
  }
}

.contact-require {
  color: #e60012;
  font-size: 10px;

  @media (--lg) {
    font-size: 13px;
  }
}

.contact-form__text {
  margin-bottom: 40px;
}

.contact-confirm__text {
  margin-bottom: 20px;
}

.contact-table__item {
  padding: 15px 0;
  border-top: 1px solid #dbdbdb;

  @media (--md) {
    display: flex;
    align-items: center;
    padding: 18px 0;
  }

  &.item-top {
    @media (--md) {
      align-items: flex-start;
    }
  }
}

.contact-form__privacy {
  margin: 30px 0;

  @media (--lg) {
    text-align: center;
  }

  .contact-table__heading {
    width: 100%;
    padding: 0;
  }
}

.contact-table__heading {
  margin-bottom: 10px;

  @media (--md) {
    width: 30%;
    margin-bottom: 0;
  }

  @media (--lg) {
    width: 35%;
    padding-left: 45px;
  }
}

.contact-table__mail {
  margin-bottom: 10px;
}

.contact-table__content {
  @media (--md) {
    width: 70%;
  }

  @media (--lg) {
    width: 65%;
  }
}

input[type="submit"] {
  width: 260px;
  margin: 0 auto;
  padding: 20px 0 20px 20px;
  background: $color-main;
  color: $color-white;
  font-size: 14px;
  text-align: left;
  line-height: 1;
  border: 1px solid $color-main;
  -webkit-appearance: none;
  transition: .24s ease all;

  @media (--md) {
    font-size: 16px;

    &:hover {
      color: $color-main;
      background: $color-white;
    }

    &:focus {
      outline: none;
    }
  }
}

.contact-form__btnarea {
  text-align: center;
  font-size: 0;

  @media (--md) {
    display: flex;
    justify-content: center;
  }
}

.contact-form__confirm,
.contact-form__back,
.contact-form__send {
  display: inline-block;
  position: relative;

  &::after {
    @extend %transition;

    content: '';
    position: absolute;
    top: 46%;
    right: 5%;
    width: 12px;
    height: 12px;
    border-right: 1px solid $color-white;
    border-top: 1px solid $color-white;
    transform: rotate(45deg) translate(-50%, 0);

    @media (--md) {
      height: 16px;
      width: 16px;
    }
  }

  &:hover {
    &::after {
      border-color: $color-main;
    }
  }
}

.contact-form__back {
  margin: 0 0 10px 0;

  @media (--md) {
    margin: 0 20px 10px 0;
  }

  input[type="submit"] {
    background-color: $color-grey;
    border-color: $color-grey;
  }

  &:hover {
    input {
      color: $color-grey !important;
    }

    &::after {
      border-color: $color-grey;
    }
  }
}

.mwform-checkbox-field {
  display: block;
  margin: 0 0 10px 2em !important;
  text-indent: -2em;
}

.mw_wp_form_input {
  input[type="text"],
  textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid $color-white;
    font-size: 14px;

    @media (--md) {
      width: 90%;
      padding: 10px;
    }

    &:focus {
      border: 1px solid $color-main;
      outline: none;
    }
  }

  .contact-form__confirm {
    text-align: center;
  }

  .contact-form__back,
  .contact-form__send {
    display: none;
  }
}

.mw_wp_form_confirm {
  .contact-form__privacy,
  .contact-form__confirm {
    display: none;
  }
}
