.news-archive {
  background-color: $color-white;

  .index-news-list {
    border-bottom: 1px solid #dcdcdc;
  }
}

.news-category {
  background: #505050;

  @media (--md) {
    background: $color-main;
  }

  .l-container {
    @media (--sm_max) {
      padding: 0;
    }
  }

  .category-list {
    display: flex;

    li {
      width: 25%;
      border-right: 1px solid $color-white;

      @media (--md) {
        width: 120px;
        border-right: none;
      }

      a {
        display: block;
        padding: 16px 0;
        color: $color-white;
        font-weight: bold;
        font-family: $font-en;
        text-align: center;

        @media (--md) {
          width: 80%;
          margin: 18px 0;
          padding: 3px 0;
          font-size: 17px;
          border-radius: 6px;

          &:hover {
            background: rgba(255, 255, 255, 0.53);
          }
        }
      }

      &.is-current {
        a {
          background: $color-main;

          @media (--md) {
            background: $color-white;
            color: $color-main;
          }
        }
      }
    }
  }
}

.news-single {
  header {
    border-top: 1px solid $color-main;
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;

    @media (--md) {
      padding: 30px 0;
    }

    @media (--lg) {
      padding: 40px 0;
    }
  }

  .postarea {
    padding: 30px 0;

    @media (--md) {
      padding: 50px 0;
    }
  }
}

.single-news__heading {
  margin-top: 5px;
  color: $color-main;
  font-size: 16px;
  line-height: 1.6;

  @media (--lg) {
    font-size: 25px;
  }
}

.single-news__function {
  display: flex;
}

.single-news__time {
  time {
    margin-right: 14px;
    color: #505050;
    font-family: $font-en;
    font-size: 12px;

    @media (--lg) {
      font-size: 14px;
    }
  }
}

.single-news-category__item {
  a {
    color: $color-main;
    font-weight: bold;
    font-family: $font-en;
    font-size: 12px;

    @media (--lg) {
      font-size: 14px;
    }
  }
}

.archive-news__heading {
  margin-right: 20px;
  color: $color-main;
  font-weight: bold;
  font-family: $font-en;

  @media (--lg) {
    margin-right: 25px;
    font-size: 17px;
  }
}

.archive-news-yearly {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.archive-news__list {
  display: flex;
  flex-flow: row wrap;
  width: 80%;

  li {
    margin-right: 5px;

    @media (--lg) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @extend %transition;

      display: block;
      padding: 3px 24px;
      border-radius: 4px;
      background: #f1f1f1;
      color: $color-main;
      font-family: $font-en;
      font-weight: bold;

      @media (--md) {
        padding: 3px 30px;

        &:hover {
          background: $color-main;
          color: $color-white;
        }
      }

      @media (--lg) {
        font-size: 17px;
      }
    }
  }
}
