.recruit-lead {
  padding: 60px 0;
  color: #000;
  background: url('../img/recruit/recruit-lead-bg_pc.jpg') no-repeat center/cover;

  @media (--sm) {
    padding: 100px 0;
  }

  @media (--md) {
    padding: 154px 0;
  }

  .recruit-lead__inner {
    max-width: 1040px;
    width: 90%;
    margin: 0 auto;

    @media (--lg) {
      width: 100%;
      padding: 0;
    }
  }

  .recruit-lead__heading {
    font-weight: normal;
    font-size: 30px;
    letter-spacing: .41em;
    color: $color-main;

    @media (--md) {
      font-size: 59px;
      line-height: (95/59);
    }
  }

  .recruit-lead__text {
    margin-top: 20px;
    line-height: 2;
    color: $color-main;
    font-size: 13px;

    @media (--md) {
      margin-top: 40px;
      font-size: 15px;
      line-height: (42/15);
    }

    br {
      @media (--md_max) {
        display: none;
      }
    }
  }
}

.recruit-entry {
  padding: 40px 0;
  text-align: center;
  background: $color-white;

  @media (--md) {
    padding: 50px 0;
  }

  .recruit-entry__inner {
    @media (--sm) {
      max-width: 500px;
      margin: 0 auto;
    }

    @media (--lg) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .recruit-entry__heading {
    margin-bottom: 20px;
    font-size: 16px;
    color: $color-main;
    letter-spacing: .3em;
    font-weight: normal;

    @media (--md) {
      font-size: 18px;
    }

    @media (--lg) {
      margin: 0 35px 0 0;
      font-size: 19px;
    }
  }

  .recruit-entry__btn {
    display: flex;
    padding: 0 5%;

    @media (--md) {
      padding: 0;
    }

    .m-link {
      width: 220px;

      @media (--md_max) {
        width: 50%;
      }

      a {
        font-weight: normal;
        font-size: 16px;
      }

      &:nth-child(1) {
        margin-right: 5px;

        @media (--md) {
          margin-right: 2px;
        }
      }
    }
  }
}

.recruit-philosophy {
  position: relative;
  padding: 60px 0 140px;
  background: linear-gradient(to right, $color-main-light, $color-main);

  @media (--sm) {
    padding: 90px 0 120px;
  }

  @media (--md) {
    padding: 120px 0;
  }

  .recruit-philosophy__concept {
    margin-top: 30px;
    color: $color-white;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: .2em;

    @media (--md) {
      margin-top: 50px;
      font-size: 25px;
      line-height: (52/25);
      letter-spacing: .3em;
    }
  }

  .recruit-philosophy__text {
    margin-top: 15px;
    color: $color-white;

    @media (--md) {
      width: 466px;
      margin-top: 20px;
    }
  }

  .recruit-philosophy__img {
    width: 58vw;
    position: absolute;
    bottom: -20%;
    right: 0;
    opacity: 1;
    z-index: 3;

    @media (--sm) {
      width: 280px;
      bottom: -110px;
    }

    @media (--md) {
      width: 360px;
      bottom: -150px;
    }

    @media (--xl) {
      width: auto;
      bottom: -60px;
    }
  }
}

.recruit-person {
  padding: 130px 0 50px;
  background: $color-grey-light;

  @media (--sm) {
    padding: 160px 0 80px;
  }

  @media (--lg) {
    padding: 120px 0;
  }

  .recruit-person__items {
    margin-top: 30px;
    background: $color-white;

    @media (--sm) {
      max-width: 500px;
      margin: 40px auto;
    }

    @media (--md) {
      display: flex;
      max-width: 100%;
      margin: 50px 0 0 0;
    }
  }

  .item-list {
    @media (--md_max) {
      display: flex;
      align-items: center;
      padding: 30px 0;

      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 2px solid $color-grey-light;
      }
    }

    @media (--md) {
      width: 33%;
      margin: 0 auto;
      padding: 64px 0;
      text-align: center;

      &:nth-child(1),
      &:nth-child(2) {
        border-right: 2px solid $color-grey-light;
      }
    }

    .item-list__heading {
      color: $color-main;

      @media (--md_max) {
        width: 40%;
        text-align: center;
      }

      .item-list__number {
        display: block;
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-family: $font-en;
        letter-spacing: -.01em;

        @media (--md) {
          margin-bottom: 16px;
          padding-bottom: 16px;
          font-size: 33px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 1px;
          left: 50%;
          bottom: 0;
          background: $color-main;
          transform: translate(-50%, 0);

          @media (--md) {
            width: 20px;
            height: 2px;
          }
        }
      }

      .item-list__title {
        font-size: 16px;

        @media (--md) {
          font-size: 26px;
        }
      }
    }

    .u-m {
      width: 50%;
      color: #505050;

      @media (--md) {
        width: 200px;
        text-align: left;
        margin: 30px auto 0;
      }
    }
  }
}

.recruit-support {
  @extend %section___padding;

  background: $color-grey-light;

  @media (--md) {
    max-width: 100%;
  }

  .recruit-support__inner {
    @media (--sm) {
      max-width: 600px;
      margin: 0 auto;
    }

    @media (--md) {
      max-width: 100%;
      padding: 0 40px;
    }
  }

  .recruit-support__top {
    padding: 0 8%;

    @media (--md) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
    }

    @media (--lg) {
      display: flex;
    }
  }

  .recruit-support__image {
    @media (--md_max) {
      position: relative;
      margin-bottom: 40px;
      width: 105%;
      right: 10%;
    }

    @media (--sm) {
      right: 0;
    }

    @media (--md) {
      margin-right: 5%;
      width: 45%;
    }
  }

  .recruit-support__top-detail {
    @media (--md) {
      width: 50%;
      margin-top: -4%;
    }

    @media (--lg) {
      margin: 0;
    }

    .heading {
      margin: 36px 0 10px;
      color: $color-main;
      font-size: 16px;
      letter-spacing: .3em;
      font-weight: normal;

      @media (--md) {
        margin: 40px 0 5%;
        font-size: 25px;
      }
    }

    .text {
      p {
        margin-bottom: 10px;
        color: #505050;

        &:last-of-type {
          margin-bottom: 0;
          line-height: 1.6;
        }

        @media (--md) {
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        small {
          font-size: 10px;
          vertical-align: top;
        }
      }
    }
  }

  .recruit-support__under {
    @media (--sm) {
      width: 100%;
    }
  }

  .recruit-support__under-detail {
    margin: 40px 0 0;

    @media (--sm) {
      display: flex;
      justify-content: space-between;
      margin: 70px 0 0;
    }

    .item {
      @media (--lg_max) {
        &:first-of-type {
          margin-bottom: 20px;
        }
      }

      @media (--sm) {
        width: 48%;
      }

      .heading {
        margin-bottom: 8px;
        color: $color-main;
        font-size: 16px;
        letter-spacing: .16em;
        font-weight: normal;

        @media (--md) {
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      .detail {
        @media (--lg) {
          display: flex;
          justify-content: space-between;
        }

        .image,
        .text {
          @media (--lg) {
            width: 48%;
          }
        }

        .image {
          max-width: 300px;
          margin: 0 auto;

          @media (--lg) {
            margin: 0;
          }
        }

        .text {
          margin-top: 12px;
          font-size: 12px;
          line-height: 1.8;
          color: #505050;

          @media (--lg) {
            margin-top: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.recruit-voice {
  padding: 50px 0;
  background: linear-gradient(to right, $color-main-light, $color-main);

  @media (--md) {
    padding: 115px 0 80px;
  }

  .recruit-voice__inner {
    @media (--sm) {
      max-width: 600px;
      margin: 0 auto;
    }

    @media (--lg) {
      display: flex;
      justify-content: space-between;
      max-width: 1120px;
    }
  }

  .recruit-voice__image {
    width: 70%;
    margin: 0 auto;

    @media (--sm) {
      width: 60%;
    }

    @media (--lg) {
      margin: 0 auto 0 0;
      width: 40%;
    }
  }

  .recruit-voice__detail {
    @media (--lg) {
      width: 50%;
    }

    .heading {
      color: #fff;
      font-weight: normal;
      letter-spacing: .3em;
      text-align: center;

      @media (--md_max) {
        margin-top: 20px;
        font-size: 16px;
        letter-spacing: .2em;
      }

      @media (--md) {
        margin: 20px 0 40px;
        font-size: 26px;
      }

      @media (--lg) {
        text-align: left;
      }
    }

    .text {
      color: $color-white;
      font-size: 12px;
      line-height: 2;

      @media (--md_max) {
        margin-top: 20px;
      }

      @media (--md) {
        font-size: 15px;
        line-height: 2;
      }
    }

    .m-link {
      max-width: 220px;

      a {
        font-weight: normal;
      }

      @media (--md) {
        margin-top: 40px;
        max-width: 330px;
      }

      @media (--lg_max) {
        width: 70%;
        margin: 30px auto 0;
      }
    }
  }
}

//newgrade
.newgrade__heading {
  margin-bottom: 15px;
  color: $color-main;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: .2em;

  @media (--md) {
    font-size: 25px;
  }

  span {
    display: block;
    margin-top: 20px;
    font-size: 16px;

    @media (--md) {
      margin: 30px 0 20px;
      font-size: 18px;
    }
  }

  small {
    font-size: 12px;
    color: #000;
    letter-spacing: .1em;

    @media (--md) {
      font-size: 14px;
    }
  }
}

.newgrade-section {
  .newgrade-section__inner {
    padding: 0 5%;
    max-width: 870px;
    margin: 0 auto;

    @media (--md) {
      padding: 0 40px;
    }
  }
}

.newgrade-work,
.newgrade-process,
.newgrade-requirements {
  margin-bottom: 50px;

  @media (--md) {
    margin-bottom: 90px;
  }
}

.newgrade-process {
  .newgrade-process__lead {
    margin-bottom: 10px;

    @media (--md) {
      margin-bottom: 0;
      font-size: 13px;
    }

    @media (--lg) {
      font-size: 15px;
    }
  }

  .newgrade-process__figure {
    padding: 8% 5%;
    background: $color-grey-light;

    @media (--md) {
      margin-top: 40px;
      padding: 40px 100px;
    }

    .step,
    .last {
      padding: 10px 15px;
      text-align: center;

      @media (--md) {
        font-size: 18px;
        padding: 16px 0;
      }

      @media (--lg) {
        font-size: 20px;
      }

      span {
        display: block;
        font-size: 12px;

        @media (--md) {
          font-size: 14px;
        }
      }

      small {
        display: block;
        font-size: 10px;
        color: #717171;

        @media (--md) {
          margin-top: 10px;
        }
      }
    }

    .step {
      position: relative;
      background: $color-white;
      color: $color-main-light;
      margin-bottom: 34px;

      @media (--sm_max) {
        font-size: 3vw;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -22px;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: $color-main-light transparent transparent transparent;
        transform: translate(-50%, 0);
      }
    }

    .last {
      color: $color-white;
      background: $color-main-light;
    }
  }
}

.newgrade-mynavi {
  @media (--lg_max) {
    width: 90%;
    margin: 0 auto;
  }

  .l-container__small {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 2px solid $color-main-light;
    text-align: center;

    @media (--md) {
      padding-top: 70px;
      padding-bottom: 70px;
      border: 4px solid $color-main-light;
    }
  }

  .newgrade-mynavi__lead {
    @media (--md) {
      margin-bottom: 45px;
      font-size: 16px;
      line-height: 2;
    }
  }

  .newgrade-mynavi__heading {
    margin: 25px 0 20px;
    white-space: nowrap;
    color: $color-main-light;
    font-weight: normal;
    font-size: 18px;

    @media (--md) {
      margin: 30px;
      font-size: 19px;
    }
  }

  .m-link {
    margin: 30px auto 0;
    max-width: 255px;

    @media (--md) {
      margin: 0 auto;
    }
  }

  .newgrade-mynavi__banner {
    width: 60%;
    max-width: 390px;
    text-align: center;
    margin: 0 auto;

    @media (--sm) {
      display: flex;
    }

    @media (--md) {
      width: 100%;
    }

    a {
      display: inline-block;

      @media (--md_max) {
        &:first-child {
          margin-bottom: 15px;
        }
      }

      @media (--sm) {
        &:first-child {
          margin-right: 15px;
        }
      }

      @media (--md) {
        &:first-child {
          max-width: 195px;
          margin-right: 15px;
        }

        &:last-child {
          max-width: 173px;
        }
      }
    }
  }

  .newgrade-mynavi-privacy {
    max-width: 870px;
    margin: 30px auto 0;
    padding-bottom: 40px;

    @media (--md) {
      margin: 60px auto 0;
    }

    @media (--lg) {
      margin-bottom: 80px;
    }
  }
}

.newgrade-mynavi-privacy {
  .heading {
    margin-bottom: 6px;
    color: $color-main;
    font-size: 13px;

    @media (--lg) {
      font-size: 16px;
    }
  }

  .inner {
    padding: 12px;
    height: 200px;
    overflow: scroll;
    color: #434343;
    border: 1px solid #9f9f9f;
    font-size: 12px;

    @media (--md) {
      padding: 20px;
      height: 200px;
    }

    p {
      font-size: 12px;

      @media (--md) {
        font-size: 13px;
      }
    }

    h4 {
      margin: 12px 0 4px;
      font-weight: bold;
      font-size: 13px;

      @media (--lg) {
        margin: 20px 0 5px;
        font-size: 14px;
      }
    }

    ul {
      li {
        text-indent: -1em;
        margin-left: 1em;
      }
    }
  }
}

.newgrade-mynavi__privacy {
  margin-top: 25px;
  text-align: center;

  a {
    display: inline-block;
    color: $color-main;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 8px;
      font-size: 0;
      width: 16px;
      height: 12px;
      background: url('../images/outlink.png') no-repeat center/cover;
    }
  }
}

.voice-top {
  padding: 60px 0;
  background: linear-gradient(114deg, #0071bb, $color-main);
  color: $color-white;
  text-align: center;

  @media (--md) {
    padding: 90px 0 70px;
  }

  .voice-top__heading {
    font-family: $font-en;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .1em;
    font-size: 30px;

    @media (--md) {
      font-size: 60px;
    }

    span {
      display: block;
      margin-top: 16px;
      font-weight: normal;
      letter-spacing: .3em;
      font-size: 14px;

      @media (--md) {
        margin-top: 20px;
        font-size: 19px;
      }
    }
  }

  .voice-top__text {
    @media (--md_max) {
      width: 90%;
      margin: 30px auto 0;
      text-align: justify;
      line-height: 2;
      font-size: 13px;

      br {
        display: none;
      }
    }

    @media (--md) {
      margin-top: 50px;
      font-size: 13px;
      line-height: (24/13);
    }

    @media (--lg) {
      font-size: 15px;
      line-height: 2;
    }
  }
}

.voice-interview {
  overflow: hidden;

  .l-container__large {
    @media (--lg) {
      display: flex;
    }

    .image {
      font-size: 0;

      @media (--lg_max) {
        position: relative;
        width: 110%;
        right: 10%;
        margin: 0 auto;

        img {
          width: 100%;

          @media (--md) {
            max-width: 560px;
          }
        }
      }

      @media (--lg) {
        width: 50%;
      }
    }

    .detail {
      @media (--lg_max) {
        margin-top: 30px;
      }

      @media (--lg) {
        width: 40%;
        margin-left: 40px;
      }

      .belong {
        display: flex;
        align-items: flex-end;
        color: $color-main;

        @media (--lg) {
          margin-top: 4px;
        }

        .belong-number {
          font-family: $font-en;
          font-size: 36px;
          line-height: .7;

          @media (--lg) {
            font-size: 60px;
          }
        }

        .belong-place {
          margin-left: 10px;
          line-height: 1;

          @media (--lg) {
            margin-left: 20px;
            font-size: 17px;
          }
        }
      }

      .name {
        margin-top: 14px;
        color: $color-main;

        @media (--lg) {
          margin-top: 14px;
        }

        .name-jp {
          font-size: 16px;

          @media (--lg) {
            font-size: 20px;
          }
        }

        .name-en {
          font-size: 10px;
          font-family: $font-en;

          @media (--lg) {
            font-size: 12px;
          }
        }
      }

      .join {
        font-size: 10px;
        color: $color-main;

        @media (--lg) {
          font-size: 12px;
        }
      }

      .detail-heading {
        margin-top: 20px;
        font-weight: normal;
        color: $color-main;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: .3em;

        @media (--lg) {
          margin-top: 35px;
          font-size: 25px;
          line-height: (45/25);
        }
      }

      .detail-text {
        margin-top: 10px;
        font-size: 13px;
        line-height: 2;

        @media (--md) {
          margin-top: 20px;
          font-size: 13px;
          line-height: (24/13);
        }

        @media (--lg) {
          font-size: 15px;
          line-height: 1.8;
        }
      }
    }
  }

  .voice-interview-item {
    padding: 50px 0 40px;
    background: $color-grey-light;

    @media (--lg) {
      padding: 85px 0 70px;
    }

    &:last-child {
      border-bottom: 1px solid #f1f1f1;
    }

    &.reverse {
      background: $color-white;

      .l-container__large {
        @media (--lg) {
          flex-direction: row-reverse;
        }

        .image {
          @media (--lg_max) {
            right: auto;
            left: 10%;
            text-align: right;
          }
        }

        .detail {
          margin: 40px auto 0;

          @media (--lg) {
            margin: 0 40px 0 0;
          }
        }
      }
    }
  }
}
