.c-tablelist {
  .c-tablelist__item {
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    padding: 12px 0;

    @media (--md) {
      display: flex;
      flex-flow: row wrap;
      padding: 25px 0 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      height: 1px;
      width: 80px;
      background: $color-main;

      @media (--md) {
        width: 130px;
      }
    }

    &:first-child {
      border-top: 1px solid #dbdbdb;

      @media (--md) {
        padding-top: 25px;
      }
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    dt {
      margin-bottom: 6px;
      font-weight: bold;

      @media (--md) {
        width: 20%;
        font-size: 13px;
        margin-top: 2px;
        margin-bottom: 0;
      }
    }

    dd {
      font-size: 13px;

      @media (--md) {
        width: 80%;
        font-size: 13px;
        line-height: (24/13);
      }
    }
  }
}

.c-section-back {
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
  text-align: center;
  background-color: $color-white;

  &__inner {
    a {
      @extend %transition;

      display: block;
      padding: 30px 0;
      color: $color-main;
      font-family: $font-en;

      @media (--md) {
        padding: 50px 0;
        font-size: 18px;
      }

      span {
        position: relative;
        font-weight: bold;

        &::before {
          @extend %transition;

          content: '';
          position: absolute;
          top: 3px;
          left: -30px;
          width: 7px;
          height: 7px;
          border-top: 2px solid $color-main;
          border-left: 2px solid $color-main;
          transform: rotate(-45deg);

          @media (--md) {
            width: 10px;
            height: 10px;
            top: 6px;
          }
        }
      }

      &:hover {
        @media (--md) {
          color: #fff;
          opacity: 1;
          background: $color-main;
        }

        span {
          &::before {
            border-color: #fff;
            left: -30px;
          }
        }
      }
    }
  }
}

.page-title {
  .page-title__inner {
    position: relative;
    max-width: 1040px;
    height: 156px;
    width: 90%;
    margin: 0 auto;
    z-index: -1;

    @media (--sm) {
      height: 275px;
    }

    @media (--md) {
      height: 330px;
    }

    @media (--xl) {
      height: 406px;
    }

    .page__heading {
      position: absolute;
      top: 50%;
      color: $color-white;
      font-weight: bold;
      font-size: 26px;
      font-family: $font-en;
      letter-spacing: .1em;
      line-height: 1;
      z-index: 3;
      transform: translate(0, -50%);

      @media (--md) {
        top: 55%;
        font-size: 60px;
      }

      @media (--lg) {
        top: 180px;
      }

      @media (--xl) {
        top: 220px;
      }

      span {
        display: block;
        margin-top: 10px;
        font-weight: normal;
        font-size: 10px;

        @media (--sm) {
          font-size: 13px;
        }

        @media (--md) {
          margin-top: 15px;
          font-size: 16px;
        }
      }
    }

    .page__backimage {
      position: fixed;
      top: 50px;
      left: 50%;
      width: 800px;
      margin: 0 auto;
      transform: translate(-50%, 0);

      @media (--sm) {
        height: 1000px;
        width: 820px;
      }

      @media (--md) {
        width: 1200px;
      }

      @media (--lg) {
        width: 100%;
        top: 77px;
      }

      img {
        width: 100%;
      }
    }
  }
}
