.header {
  @extend %transition;

  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;

  .header-logo {
    display: inline-block;
    position: relative;
    width: 120px;
    font-size: 0;
    line-height: 0;
    z-index: 9;

    @media (--lg) {
      width: 160px;
    }
  }

  .header-inner {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
    transition: .24s ease all;

    @media (--lg) {
      margin: 0 auto;
      height: 100px;
      max-width: 1280px;
      padding: 0 20px 0 40px;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-language {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 10;

    @media (--lg) {
      position: absolute;
      pointer-events: auto;
      opacity: 1;
      width: auto;
      top: 20px;
      bottom: auto;
      right: 40px;
      left: auto;
    }
  }

  .header-language-list {
    display: flex;
    justify-content: center;
  }

  .header-language-list__item {
    a {
      font-family: $font-en;
      font-weight: bold;
      color: #adadad;

      @media (--lg) {
        &:hover {
          color: $color-main;
        }
      }
    }

    &.is-active {
      a {
        color: $color-main;
      }
    }
  }

  .header-language-list__between {
    margin: 0 4px;
  }

  .header-gnav {
    @media (--lg_max) {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      opacity: 0;
      pointer-events: none;
      transition: .24s ease all;
      -webkit-overflow-scrolling: touch;
    }

    @media (--lg) {
      opacity: 1;
      pointer-events: auto;
      margin-top: 30px;
    }

    .header-gnav-list {
      @media (--lg_max) {
        position: absolute;
        top: 44%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }

      @media (--lg) {
        display: flex;
        height: 100%;
      }

      .header-gnav-list__item {
        position: relative;

        @media (--lg_max) {
          text-align: center;
        }

        > a {
          display: block;
          position: relative;
          color: $color-main;
          font-family: $font-en;
          font-weight: bold;
          font-size: 16px;

          @media (--lg_max) {
            padding: 15px 0;
          }

          @media (--lg) {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            font-size: 16px;

            span {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                height: 3px;
                width: 0;
                transform: translate(-50%, 0);
                background: $color-main;
                transition: .24s ease all;
              }
            }

            &:hover {
              opacity: 1;

              span {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .header-gnav-list__drower {
        position: absolute;
        width: 100%;

        @media (--md) {
          background: $color-white;
        }

        ul {
          li {
            text-align: center;
            font-weight: bold;
            color: #ccc;

            a {
              display: block;
              color: $color-main;
            }
          }
        }
      }
    }
  }

  .header-humberger {
    position: absolute;
    top: 0;
    right: 3%;
    width: 52px;
    height: 50px;

    @media (--lg) {
      display: none;
    }

    &::after {
      content: 'MENU';
      position: absolute;
      font-family: $font-en;
      color: $color-main;
      font-size: 10px;
      bottom: 5px;
      left: 5px;
    }

    span {
      position: absolute;
      width: 30px;
      height: 2px;
      left: 5px;
      background: $color-main;
      transition: .24s ease all;

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 19px;
      }

      &:nth-child(3) {
        top: 26px;
      }
    }
  }

  &.js-open {
    .header-gnav {
      @media (--lg_max) {
        opacity: 1;
        pointer-events: auto;
      }

      @media (--md) {
        height: 100%;
      }
    }

    .header-language {
      opacity: 1;
      pointer-events: auto;
    }

    .header-humberger {
      @media (--lg_max) {
        span {
          &:nth-child(1) {
            transform: translateY(12px) rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-2px) rotate(45deg);
          }
        }

        &::after {
          opacity: 0;
        }
      }
    }
  }

  &.header-bg {
    background: $color-white;
  }

  &.js-active {
    background: $color-white;
  }
}
